<div class="content">
    <div ng-repeat="image in images">
        <div class="tile">
            <img ng-src="{{image.url}}" class="tileImage" ng-click="goHere(image.mainUrl)" target="_blank" style="cursor:pointer">
            <!-- <input class="inputRow" ng-model="image.mainUrl" placeholder="mainurl"> -->
            <textarea class="inputRow" ng-model="image.howToRemember" placeholder="How to remember" title="How to remember"></textarea>
            <textarea class="inputRow" ng-model="image.name" placeholder="Name" title="Name"></textarea>
            <textarea class="inputRow" ng-model="image.artist" placeholder="Artist" title="Artist"></textarea>
            <textarea class="inputRow" ng-model="image.myth" placeholder="Myth" title="Myth"></textarea>
            <textarea class="inputRow" ng-model="image.narativeGain1" placeholder="Narative Gain 1" title="Narative Gain 1"></textarea>
            <textarea class="inputRow" ng-model="image.narativeGain2" placeholder="Narative Gain 2" title="Narative Gain 2"></textarea>
        </div>
    </div>
    <button ng-click="printImages()">print images</button>
</div>